.time {

  border: 0px;
  vertical-align: top;
  position: relative;
  top: 0px;
  font-weight: lighter;
  text-align: right;

}

.min5{


}


.yellow {

    background-color: yellow;
    text-align: center;
  
  
  
  }

  .blue {

    background-color: #0099cc;
    text-align: center;
  
  
  
  }

  .pink {

    background-color: pink;
    text-align: center;
  
  
  
  }

.rowspan {

    background-color: ;

}

.midi {

    background-color: #cc9900;
    text-align: center;

}